.row {
  max-width: $grid-width; 
  margin: 0 auto;
  
  &:not(:last-child) { //all except last child of row
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;
  // in SCSCC we need to use #{} in order to use variables in calc func
  //selects all classess which start with "col-"
  // [] selects elements by attribute 
  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horisontal;
    }
  
  }  
  
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horisontal}) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horisontal}) / 3);
  }
  .col-2-of-3 {
    width: calc((100% - 2 * #{$gutter-horisontal}) / 3 * 2 + #{$gutter-horisontal});
  }
  .col-1-of-4 {
    width: calc((100% - 3* #{$gutter-horisontal}) / 4);
  }
  .col-2-of-4 {
    width: calc((100% - 3* #{$gutter-horisontal}) / 4 * 2 + #{$gutter-horisontal});
  }
  .col-3-of-4 {
    width: calc((100% - 3* #{$gutter-horisontal}) / 4 * 3 + 2 * #{$gutter-horisontal});
  }
}

