
.header {
  height: 95vh;
  background-image: linear-gradient(
    to right,
    rgba($color-primary-dark, .8),
    rgba($color-primary-light, .8)), 
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; // position relative sets element in relation to which following "absolute" is calculated

  &__logo-box{
    position: absolute;
    top: 4rem;
    left:4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box{
    position: absolute;
    top:40%;
    left:50%;
    /* this is to account for element widht and height while centering it */
    transform: translate(-50%,-50%);
    text-align: center;
  }  
}