.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .4;
  z-index: -1;

  &__content{
    height: 100%;
    width: 100%;
    object-fit: cover; // fill entire parent maintaining original aspect ratio
  }
}