/* pseudo class is special condition, like link and visited for anchor elements <a> */
.btn {
  &, //this one required for <button> elements
  &:link, &visited  //this is for anchor tags
  {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position:relative; /* this is required for pseudo element, to position it right behind the button*/

  border: none;
  cursor: pointer;
  }
  &:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    &::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    outline: none;
  }
  &--white{
    background-color: $color-white;
    color:$color-grey-dark;
    &::after{
      background-color:$color-white;
    }
  }
  &--green{
    background-color: $color-primary;
    color:$color-white;
    &::after{
      background-color:$color-primary;
    }
  }

   /* pseudo element which looks exactly like parent element and is behindit */
  &::after{
    content: "";//content and display property are required otherwise pseudo el. will not be displayed */
    display: inline-block;
    height: 100%; /* of the button*/
    width: 100%;  /* of the button*/
    border-radius: 10rem;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .3s;
  }  
  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards; /*this applies styles of  animation at 0% before animation*/
  }
}

.btn-text {
  &:link, &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid $color-primary;
    padding: .3rem;
    transition: all .2s;
    transform: translateY(0);
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
 }
  &:active {
    box-shadow: 0 1rem 1rem rgba($color-black, .15);
    transform: translateY(-1px);
  }
}
