.card{
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  &__side {
    font-size: 2rem;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; //this is required for image to stop overflowing card with sharp edges (round corner stops displaying)
    box-shadow: 0 1.5rem 4rem rgba($color-black, .14);

    &--front{
      background-color: $color-white; 
    }
    &--back{
      transform: rotateY(-180deg);
      &-or{
        background-image:linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
      }
      &-bl{
        background-image:linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
      }
      &-gr{
        background-image:linear-gradient(to right, $color-primary-light, $color-primary-dark);
      }
    }
  }

  &:hover &__side--front{
    transform: rotateY(180deg);
  }
  &:hover &__side--back{
    transform: rotateY(0deg);
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    //background blend mode describes how background images should blend
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0,  100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0,  100% 85%, 0 100%);
    
    &--or{
      background-image: 
        linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url('../img/nat-5.jpg'),; 
    }
    &--gr{
      background-image: 
        linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url('../img/nat-6.jpg'),; 
    }
    &--bl{
      background-image: 
        linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url('../img/nat-7.jpg'),; 
    }
  };
  &__heading{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    right: 2rem;
    top: 12rem;
    width: 75%; 
  }

&__heading-span {
  //padding gets applied to the whole sentense (left and right). Both words treated like one line of text
  padding: 1rem 1.5rem;
  //to fix this we can apply box decoration break
  // clone applies the same properties for every box
  box-decoration-break: clone;

    &-or{
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-secondary-light, .85),
        rgba($color-secondary-dark, .85)
        );
    }
    &-bl{
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, .85),
        rgba($color-tertiary-dark, .85)
      );
    }
    &-gr{
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .85),
        rgba($color-primary-dark, .85)
      );
    }
  
}

  &__details{
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    
      li{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &__price-box {
     color: $color-white;
     margin-bottom: 8rem;
  }
  &__price-only{
      font-size: 1.4rem;
      text-transform: uppercase;
  }
  &__price-value{
      font-size: 6rem;
      font-weight: 100;
  }
}
