.composition {
  position: relative;

  &:hover &__photo:not(:hover){
      transform: scale(0.9);
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color_black, .4);
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem;
    &--p1 {
     left: 0;
     top: -2rem; 
     z-index: 10;
    }
    &--p2 {
      right: 0;
      top: 2rem; 
      z-index: 10;
     }
     &--p3 {
      left: 20%;
      top: 10rem; 
      z-index: 10;
     }
    &:hover{
      transform: scale(1.05);
      box-shadow: 0 2rem 4rem rgba($color-black, .5);
      z-index: 100;
      outline: 1.5rem solid $color-primary;
     
    }
    
  };
}