.form {
 
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
      &:invalid{
        border-bottom: 3px solid orangered;
      }
    }
    
    &::-webkit-input-placeholder{
      color: $color-grey-dark;
    }
  }
  &__label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    transform: translateY(0);
  }

  /* selects immediate sibling (label) of an element (input) */
  &__input:placeholder-shown + &__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
    
  }
  &__radio-input{
    display: none;
  }
  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left:5rem;
  }
  &__radio-button{
    content: "";
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 5px solid $color-primary;
    display: inline-block;
    position: absolute;
    left:0;
    top: -.4rem;


    &::after{
      width: 1.3rem;
      height: 1.3rem;
      content: "";
      display: block;
      border-radius: 50%;
      background-color: $color-primary;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

}