.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  background-color: rgba($color-white, .7); 
  & > * {
    //unskew children
    transform: skewX(+12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; 
    // background-color: orangered;
    -webkit-shape-outside: circle (50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); // its better use transform than play with margins on floated element
    position: relative;
    overflow: hidden;
  }
  &__image{
    height: 100%; //all images must have width or height specified otherwise they will occupy their original space
    transform: translateX(-4rem) scale(1.4);
    transition: all .3s;
  }
  &__text {
    transform: skewX(12deg);
  }
  &__caption {
    color:$color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    position: fixed;
    text-align: center;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(20%);
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }
  &:hover &__caption{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  &:hover &__image{
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}