.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  margin-top: -9rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-dark, .8),
    rgba($color-primary-light, .8)), 
    url('../img/nat-4.jpg');
  background-size: cover;

  //skew entire section
  transform: skewY(-7deg);

  // unskew direct children
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -9rem;

}

.section-stories {
  padding: 15rem 0;
  // background-color: $color-grey-light-1;
  position: relative;
}

.section-book{
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

}

.book{
  background-image: linear-gradient(
    105deg, 
    rgba($color-white, .9) 0%,  
    rgba($color-white, .9) 50%,
    transparent 50%
     ), url(../img/nat-10.jpg);
  border-radius: 3px;
  background-size: 100%;
  height: 50rem;
  box-shadow: 0 1.5rem 4rem 0 rgba($color-black, .2);

  &__form{
    width: 50%;
    padding: 6rem;
    // color: red;
  }
}

