
/* Universal selector, will select all elements and apply styles */
/* note we need to specify pseudo elements since * only targets real elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  /* 1REM for 10px is easy to convert so we should be setting font size on html  10 px*/
  /* problem with hardcoding px is user setting- sometimes people set default browser font size to different than 16px, so this wouldoverwrite */
  /* solution is to set % of that font 100% being the "equal" to 16px (default) */
  /* our aim is to have 10px so its 62.5% of default 16px */
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;  /* with border-box padding and  margin are  added to the widht & heigh */
}
