.u-center-text{
  text-align: center !important;
}

@for $i from 1 through 10 {
    .u-margin-bottom-#{$i} {
        margin-bottom: ($i * 1rem) !important;
    }
}
  
@for $i from 1 through 10 {
  .u-margin-top-#{$i} {
      margin-top: ($i * 1rem) !important;
  }
}
