@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(54, 54, 54);
}

body {
  margin: 0;
  background-color: #dad4d4;
}

