
//If an element is taller than the element containing it, and it is floated, 
//it will overflow outside of its container.
//Clearfix should fix this by clearing floats on both sides on ::after element
@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// @mixin createTextGradient($color1, $color2) {
//   background-image: linear-gradient(to right, $color1, $color2);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
// @mixin createBackgroundGradient($color1, $color2) {
//   background-image: linear-gradient(to right, $color1, $color2);
// }
