.anim-fadein-left {
  animation: fadeinLeft 1s ease-in;
}
.anim-fadein-right{
  animation: fadeinRight 1s ease-in;
}
.anim-fadein-top_delay{
  animation: fadeinTopDelay 1s ease-in 0.75s;
  animation-fill-mode: backwards;
}

@keyframes fadeinLeft {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes fadeinRight {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes fadeinTopDelay{
  0%{
    transform:translateY(30px);
    opacity: 0;
  }
  100% {
    transorm:translate(0);
    opacity: 1;
  }
} 