// $primary-color: #17a2b8;
// $dark-color: #343a40;
// $light-color: #f4f4f4;
// $danger-color: #dc3545;
// $success-color: #28a745;

$primary-color: #6D666F;
$dark-color: #331C10;
$light-color: #FBF2E3;
$danger-color: #dc3545;
$success-color: #28a745;

$max-width: 1100px;

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  }

  @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Margin and padding classess 

$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {

  // All around margins
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
}

//  Padding
@each $space in $spaceamounts {

  // All around margins
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical margin
  .py-#{$space} {
    padding : #{$space}rem 0;
  }
}