@media(max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  //Text styles

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;

  }

  .navbar {
    display: block;
    text-align: center;
  }

  ul {
    text-align: center;
    justify-content: center;

  }

  h1 {
    margin-bottom: 1rem;
  }

  dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  //Profiles 
  .profile {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    text-align: center;
    align-content: center;

    ul {
      display: none;
    }

    img {
      width: 50%;
    }
  }

  .profile-grid {
    display: grid;
    grid-template-areas:
      'top'
      'quick'
      'table'
    ;
  }
}