@import "config";
@import "utilities";
@import "form";
@import "animations";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

// Landing
.landing {
  position: relative;
  background: url("../img/showcase2.jpg") no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// Profiles page

.profile {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

// Warehosue profile page
.profile-grid {
  display: grid;
  grid-template-areas: "top top""quick quick""table table""github github";
  gap: 1rem;
  // grid-auto-columns: 1fr;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 50px;
    }

    .icons a {
      color: white;
      margin: 0 0.3rem;

      &:hover {
        color: $dark-color;
      }
    }
  }

  .profile-quick {
    grid-area: quick;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: none;
    // border-bottom: #ccc 1px dotted;

    .shortcut {
      img {
        width: 50px;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }

    .active {
      // background-color: #4CAF50;
      border-bottom: $primary-color 1px solid
    }

  }

  .profile-table {
    grid-area: table;
    .table {
      width: 100%;
    }
  }

  .profile-edu {
    grid-area: edu;
  }

  .profile-exp,
  .profile-edu {
    &>div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #ccc 1px dotted;
    }

    &:last-child {
      border: none;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .profile-github {
    grid-area: github;
  }

  .repo {
    display: flex;

    &>div:first-child {
      flex: 7;
      flex-basis: 70%;
    }

    &>div:last-child {
      flex: 7;
      flex-basis: 70%;
    }
  }
}

@import 'mobile';